<tr>
  <td colspan="4"><%= doctor.name %></td>
  <td><%= doctor.full_crm %></td>
  <td>
    <%= link_to edit_doctor_path(doctor), 
        class: 'btn waves-effect waves-light btn-small icon-button tooltipped', 
        data: { position: 'top', tooltip: 'Editar' } do %>
      <i class="material-icons">edit</i>
    <% end %>
    <%= link_to doctor, method: :delete,
        class: 'btn waves-effect waves-light btn-small icon-button tooltipped', 
        data: { position: 'top', tooltip: 'Excluir', confirm: 'Tem certeza?' } do %>
      <i class="material-icons">delete</i>
    <% end %>
  </td>
</tr>