
$primary-color: #3f51b5;
$secondary-color: gray;
h1 {
    font-size: 3rem !important;
    color: $primary-color;
}
@import "materialize-css/sass/materialize.scss";
.icon-button {
    padding: 0 6px;
}