<h1>Consultas</h1>

<%= link_to 'Cadastrar consulta', new_appointment_path, class: 'right waves-effect waves-light btn' %>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Horário</th>
      <th>Médico</th>
      <th>Paciente</th>
      <th>Opções</th>
    </tr>
  </thead>

  <tbody>
    <%= render @appointments %>
  </tbody>
</table>