<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">BuildClinic</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Médicos', doctors_path %></li>
      <li><%= link_to 'Pacientes', doctors_path %></li>
      <li><%= link_to 'Consultas', doctors_path %></li>
    </ul>
  </div>
</nav>